.delete-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.delete-account-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.delete-account-box h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.delete-account-box p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.delete-button {
  background-color: #e60000;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #cc0000;
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confirm-button {
  background-color: #e60000;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button {
  background-color: #ddd;
  color: #333;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-button:hover {
  background-color: #cc0000;
}

.cancel-button:hover {
  background-color: #bbb;
}

.password-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.password-modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.password-modal-content input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.confirm-password-button,
.cancel-password-button {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-password-button {
  background-color: #e60000;
  color: white;
}

.confirm-password-button:hover {
  background-color: #cc0000;
}

.cancel-password-button {
  background-color: #bbb;
  color: #333;
}

.cancel-password-button:hover {
  background-color: #888;
}